body, .bsearch, .et, ul, input[type=range] {
    margin: 0;
    padding: 0;
}

body, code {
    font-family: courier, "Courier New", monospace, Consolas;
    font-size: small;
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
}

.bsearch {
    border: none;
    background-color: ghostwhite;
    -moz-box-shadow: 0 -2.5px 5px black;
    -ms-box-shadow: 0 -2.5px 5px black;
    -webkit-box-shadow: 0 -2.5px 5px black;
    box-shadow: 0 -2.5px 5px black;
    position: fixed;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    top: 0;
}

input[type=search] {
    margin: 10px 3.2vw;
    padding: 5px;
    font-size: 13px;
    -moz-border-radius: 3.5px;
    -ms-border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    border-radius: 3.5px;
    border: 1.25px solid silver;
    width: 85vw;
}

.block {
    height: 50px;
}

input[type=search]:focus {
    border-color: skyblue;
    outline: none;
    -moz-box-shadow: 0 0 2px skyblue;
    -ms-box-shadow: 0 0 2px skyblue;
    -webkit-box-shadow: 0 0 2px skyblue;
    box-shadow: 0 0 2px skyblue;
}

.rre {
    border-color: red !important;
}
.rre:focus {
    border-color: red;
    -moz-box-shadow: 0 0 2px red;
    -ms-box-shadow: 0 0 2px red;
    -webkit-box-shadow: 0 0 2px red;
    box-shadow: 0 0 2px red;
}

.loader {
    height: 1.5px;
    background-color: deepskyblue;
    position: fixed;
    top: 47.5px;
    -moz-box-shadow: 0 0 1px skyblue;
    -ms-box-shadow: 0 0 1px skyblue;
    -webkit-box-shadow: 0 0 1px skyblue;
    box-shadow: 0 0 1px skyblue;
}

.loadem {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-left: 3px solid royalblue;
    border-top: 3px solid lightblue;
    border-right: 3px solid lightblue;
    border-bottom: 3px solid lightblue;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    animation: 1s lm infinite linear;
}

@keyframes load {
    from {
        width: 10%;
    }
    to {
        width: 105%;
    }
}
@keyframes lm {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.__proto__ {
    color: red;
    font-size: x-small;
    margin: 6px 0;
}

font {
    padding-left: 1em;
    font-size: 9px;
}

.typeof {
    width: 60%;
    font-size: 10px;
    overflow: auto;
}

.t1 {
    padding: 2px;
    line-height: 2.25;
    white-space: nowrap;
    color: grey;
}

.info {
    font-size: xx-small;
    color: grey;
}

.gobject {
    font-weight: bold;
}
.undefined {
    color: thistle;
}
.object {
    color: purple;
}
.number {
    color: blue;
}
.string {
    color: yellowgreen;
}
.function {
    color: mediumslateblue;
}
.boolean {
    color: cadetblue;
}
.bigint {
    color: orange;
}
.symbol {
    color: deepskyblue;
}

table {
    margin: 0 2.5vw;
    background-color: whitesmoke;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0 2px silver;
    cursor: pointer;
}

.title {
    font-family: "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif;
    margin: 4px 2vw;
    padding: 7px;
    background-color: whitesmoke;
    border: 2px solid silver;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.et {
    color: #ff91a4;
    text-indent: 1.25em;
}

.et::before {
    content: '\24e7';
    color: red;
    font-size: 0.75em;
    margin-right: 0.5em;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
/*ul > li {
    list-style-type: '\24d8 ';
}*/

ul > li::before {
    content: '\24d8';
    font-size: 0.75em;
    color: royalblue;
	margin-right: 0.5em;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

font, .t1, botton {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.sg {
    background-color: transparent;
    border: none;
    height: 47.5px;
    width: 9.75vw;
    font-size: 25px;
    position: absolute;
    right: 1vw;
    top: 0;
    cursor: pointer;
}

input[type=checkbox] {
    margin: 5px;
}

label {
    display: block;
    margin: 10px;
    cursor: pointer;
}
